{% extends "admin.html" %}
{% block title %}Add Driver{% endblock %}
{% block content %}

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <!-- Form for adding a new driver with POST method -->
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="alert alert-light">
        <h2 class="mb-4">Add a New Junior Driver</h2> 
        <form method="POST" action="/admin/add_junior">
            <div class="row">
                <div class="col-md-6">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control mb-4" id="first_name" name="first_name" required>
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control mb-4" id="last_name" name="last_name" required>
                </div>
            </div>
            
            <div class="row mt-3">
                <!-- Input field for date of birth and dropdown for selecting caregiver -->
                <div class="col-md-6">
                    <label for="date_birth" class="form-label mb-2">Date of birth (Driver must be over 12 years old!)</label>
                    <input type="date" class="form-control mb-4" id="date_birth" name="date_birth" value="" max="{{max_time}}" min="{{min_time}}" required>
                </div>
                <div class="col-md-6">
                    <label for="caregiver" class="form-label mb-2">Caregiver (Please choose one if you're under 16!):</label>
                    <select class="form-control mb-4" id="caregiver" name="caregiver">
                        <option value="" disabled selected>Select a caregiver...</option>
                        <!-- Looping through and displaying all available caregivers -->
                        {% for driver in all_drivers %}
                            <option value="{{ driver[0] }}" {% if selected_caregiver == driver[0] %}selected{% endif %}>{{driver[1]}} {{driver[2]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="row mt-3 align-items-end">
                <div class="col-md-6">
                    <label for="car" class="form-label mb-2">Please choose your racing car:</label>
                    <select class="form-control mb-2" id="car" name="car" required>
                        <option value="" disabled selected>Select a car...</option>
                        <!-- Looping through and displaying all available cars -->
                        {% for car in all_cars %}
                            <option value="{{ car[0] }}" {% if selected_car == car[0] %}selected{% endif %}>{{car[0]}}: {{car[1]}} ({{car[2]}})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center mb-2">
                        <button type="reset" class="btn btn-secondary me-5">Clear</button>
                        <button type="submit" class="btn btn-primary ms-5">Add</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}