{% extends "admin.html" %}
{% block title %}Add Driver{% endblock %}
{% block content %}
<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="alert alert-light">
        <h2 class="mb-4">Add a New Driver</h2>
        <form method="POST" action="/admin/add_driver ">
            <div class="row mb-3 justify-content-center">
                <div class="col-md-6 text-center">
                    <h4>Please select new driver's age rank:</h4>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="age_rank" id="age_junior" value="junior">
                        <label class="form-check-label" for="age_junior">
                            12 - 24 years old
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="age_rank" id="age_adult" value="adult" checked>
                        <label class="form-check-label" for="age_adult">
                            Over 25 years old
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}