{% extends "base.html" %}
{% block title %}List of Drivers{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<div class="container mt-4 alert alert-light">
    <h2 class="mb-4">Drivers List</h2>
    <table class="table table-bordered table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Driver ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Date of Birth</th>
                <th class="text-center">Age</th>
                <th class="text-center">Caregiver</th>
                <th class="text-center">Car Model</th>
                <th class="text-center">Drive Class</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in driver_list %}
                <tr {% if driver[4] and driver[4] <= 25 %}class="table-warning" {% endif %}>
                    <td class="text-center">{{ driver[0] }}</td>
                    <!-- Using driver's name as a clickable link to the driver's run details -->
                    <td class="ml-auto">
                        <div class="row">
                            <div class="col-3"></div>  <!-- This is essentially a spacer column -->
                            <div class="col"><a href="{{ url_for('driversrun', driver_id=driver[0]) }}">{{ driver[1] }} {{ driver[2] }} {% if driver[4] and driver[4] <= 25 %}(J){% endif %}</a></div>
                        </div>
                    </td>
                    <td class="text-center">{{ driver[3].strftime('%d/%m/%Y') if driver[3] is not none else "-" }}</td>
                    <td class="text-center">{{ driver[4] if driver[4] is not none else "-" }}</td>
                    <td class="text-center">{{ driver[5] if driver[5] is not none else "-" }}</td>
                    <td class="text-center">{{ driver[6] }}</td>
                    <td class="text-center">{{ driver[7] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
